

#popup
	position relative
.popup-image
	vertical-align middle
.popup
	position absolute
	background #FFF
	box-shadow 0 2px 4px rgba(0, 0, 0, 0.2)
	padding 20px
	margin auto
	margin-top 20px
	height auto
	z-index 9999
	right 0
	top 10%
	width 300px
	h3
		margin-top 5px
		color #333
	h5
		margin-top 0
		margin-bottom 0
		color #999
	@media mobile
		position relative
		margin-top 0
		width 100%

	.priority
		&:before
			content ''
			display inline-block
			position relative
			width 20px
			height 20px
			margin-right 4px
			background-image url("images/priority.png")
			background-position center center
			background-size 20px
			background-repeat no-repeat

.popup-close
	position absolute
	top 0
	right 0
	margin-right 20px
	margin-top 20px
	color rgba(0,0,0,0.4)
	cursor pointer
.description
	a
		cursor pointer
.popup-title
	font-size 14px
	color #aaa

	.popup-type
		margin-left 10px
		font-weight 300
		font-size 1.3em
.popup-value
	font-size 16px
.locate
	text-align right
	color budget-blue
	cursor pointer

	&:hover
		text-decoration underline

.nolocate
	text-align center
	color #CCC
	margin-top 10px
	margin-bottom 0

.abbr
	font-size 12px
	vertical-align middle