.share
	wrap()

.share-buttons
	float right
	margin-top 0.5em

.share-buttons > a, .share-buttons > div
	display inline-block
	margin-left 5px
	margin-right 5px

.fb-share-button
	position relative
	top -7px
