.intro
	wrap()
	text()
	margin-bottom 1em
	position relative
	
	.intro-button-close
		display block
		margin-bottom 0
		font-weight normal
		text-align center
		vertical-align middle
		cursor pointer
		background-image none
		border 1px solid rgba(0, 0, 0, 0)
		white-space nowrap
		padding 6px 12px
		font-size 14px
		line-height 1.42857143
		border-radius 4px
		-webkit-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none
		position relative
		
		text-align center
		background-color budget-blue
		color white
		border-radius 0
		margin 0 auto
		margin-top 1em
		height 1.6em
		line-height 1em
		min-width 50%
		font-size 1.2em
		
.key
	text-align center
	margin-top 10px
		
.keyItem
	margin 0 10px
	display inline-block
	
	.icon
		height 20px
		margin-right 2px
		vertical-align middle
	.icon:last-child
		margin 0
	div
		display inline-block
		vertical-align middle
		
.sourceData
	margin-top 10px !important