.modal-open
	-webkit-filter: blur(3px) grayscale(1)
	-moz-filter: blur(3px) grayscale(1)
	-o-filter: blur(3px) grayscale(1)
	-ms-filter: blur(3px) grayscale(1)
	filter: blur(3px) grayscale(1)
	

.modal-wrap 
	// visibility: hidden
	position: fixed
	left: 0px
	top: 0px
	width:100%
	height:100%
	text-align:center
	z-index: 99999
	background: rgba(0,0,0,0.5)
	display table

.modal-container
	display table-cell
	vertical-align middle
	position: relative

.modal-content
	position relative
	color: #666
	width: 60%
	max-width: 40em;
	margin: auto
	background-color: white
	border: 1px solid #ccc
	padding: 1em
	padding-bottom 0
	text-align:center
	@media (max-width: 600px)
		width 100%

.modal-content a
	cursor:pointer
	
.modal-nav
	width: 100%
	position: absolute
	top: 0px
	text-align: right
	padding: 1em

.modal-nav-link
	padding: 1em 1em 0.5em 1em
	font-size: 1.5em

.modal-nav-intro:hover, .modal-nav-about:hover
	transition background 1s ease
	border-bottom 4px solid #ccc
	
.modal-nav-active
	transition background 1s ease
	border-bottom 4px solid #00aae7
	
.modal-nav-close:hover
	color #187FC4
	
.modal-body
	text-align left
	position: relative
	margin-top: 5em
	overflow-y: auto;
	height: 500px;
	
.modal-nav-logo
	position absolute
	left -15px
	top -5px
	padding: 1em 1em 0.5em 1em