.collapseControl {
  cursor: pointer;
  border: 1px solid red;
  display: inline-block;
  float: right;
  padding: 0.5em 1em;
  background-color: #EFEFEF;
  border: 1px solid #EFEFEF;
  border-radius: 5px;
  width: 198px;
}

.collapseControl:hover {
  background-color: #F9F9F9;
}

.text {
  display: inline-block;
  width: 90%;
}

.arrow {
  display: inline-block;
  width: 10%;
}

.up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 7.5px 8px 7.5px;
  border-color: transparent transparent #000000 transparent;
}

.down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 7.5px 0 7.5px;
  border-color: #000000 transparent transparent transparent;
}