.breadcrumb
	padding 0
	margin-bottom 0
	float left
	list-style none
	font-size 1.6em
	color #333
	a
		color #00AAE7
		cursor pointer
	li
		display inline-block
		+ li:before
			content '/'
			padding 0 5px
			color #ccc
	.breadcrumb-lga-close, .breadcrumb-region-close
		font-size 0.7em
		margin-left 0.4em
		color #999
		cursor pointer
		&:hover
			color #333
			
