.about
	wrap()
	text()
	position relative
	overflow visible

	.about-button-close
		z-index 999999
		display inline-block
		margin-bottom 20px
		font-weight normal
		text-align center
		vertical-align middle
		cursor pointer
		background-image none
		border 1px solid rgba(0, 0, 0, 0)
		white-space nowrap
		padding 6px 12px
		font-size 14px
		line-height 1.42857143
		border-radius 4px
		-webkit-user-select none
		-moz-user-select none
		-ms-user-select none
		user-select none
		position relative
		float right
		background-color budget-blue
		color white
		border-radius 0
		cursor pointer