mobile = "all and (max-width: 650px)"

block-size = 310px
padding = 15px
intro-height = 300px
budget-blue = #00AAE7
img-size = 42px


body
	font-size 100%
	line-height 1.5
	font-family 'Roboto Condensed', sans-serif

h1
	font-size 2.747em
h2
	font-size  0.874em
h3
	font-size 1.229em

text()
	margin-left auto
	margin-right auto
	padding 0 1em
	strong, .strong, .highlight, a
		font-weight bold
		color budget-blue
	a
		text-decoration underline
	p
		margin-top 1em
		&:first-child
			margin-top 0.5em
	.lead
		font-size 1.1em

.social-media-icon
	margin-right 10px


wrap()
	width 100%
	max-width 1140px
	margin 0 auto

	&:after
		display: table;
		content: ' ';
		clear: both;
.fullscreen .foot
	position: absolute;
	bottom: 0;
	z-index: 5;
	max-width: 1140px;
	margin: 0 auto;
	left: 0;
	right: 0;
	background-color: #fff;
	padding: 0 10px;
	border: 1px solid #ccc;
.foot
	wrap()
	margin-bottom padding
	margin-bottom 0
.wrap
	wrap()
verticalspace()
	margin-top padding
	margin-bottom padding

hoizontalspace()
	margin-left padding
	margin-right padding

.browsehappy
	margin 0.2em 0
	background #ccc
	color #000
	padding 0.2em 0

@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,400,300")

*
	box-sizing border-box
	margin 0
	padding 0
img
	border none

a
	color budget-blue
.fullscreen .leaflet-top
	top 50px
.modal-open
	-webkit-filter: blur(1px) grayscale(1)
	-moz-filter: blur(1px) grayscale(1)
	-o-filter: blur(1px) grayscale(1)
	-ms-filter: blur(1px) grayscale(1)
	filter: blur(1px) grayscale(1)

.icon-small, icon-small svg
	color blue
	fill blue
	fillOpacity 1
	opacity 1


.fullscreen-control
	width 36px
	height 36px
	border 1px solid #ccc
	display block
	text-align center
	color black
	background white
	background-image url(images/fullscreen-out.png)
	background-position 50% 50%
	background-size 26px 26px
	background-repeat no-repeat
	box-sizing content-box
	&.in
		background-image url(images/fullscreen-in.png)
	
	&:hover
		background-color #f4f4f4

.reset-control
	width 36px
	height 36px
	border 1px solid #ccc
	display block
	text-align center
	color black
	background white
	background-image url(images/home.png)
	background-position 50% 50%
	background-size 26px 26px
	background-repeat no-repeat
	box-sizing content-box
	
	&:hover
		background-color #f4f4f4


@import 'header'
@import 'intro'
@import 'about'
@import 'share'
@import 'modal'
@import 'map'

@import 'table'
@import 'summary'
@import 'number'
@import 'breadcrumb'
@import 'search'
@import 'popup'

@import 'agencyFilter'
@import 'filter'