budget-blue = #00AAE7

.summary
	display inline-block
	font-size 1.1em
	margin-bottom 5px
	.summary-big
		font-weight bold
		font-size 1.1em
		color #00AAE7
		
.map-reset
	color budget-blue
	cursor pointer
	float right
	margin-top 0.4em
	border 1px solid budget-blue
	border-radius 5px
	padding 0.2em
	
.map-reset:hover
	color white
	background-color budget-blue
		