@value padding from "../index.css";

.footer {
	background: #f3f3f3;
	border-top: 1px solid #ccc;
	margin-top: calc(padding * 4);
	padding: padding;
	color: rgba(0,0,0,0.4);
	text-align: center;
}
.footer a {
	color: rgba(0,0,0,0.4);
  text-decoration: none;
  font-weight: normal;
}
.wrap {
	composes: wrap from '../index.css';
}
.creditTitle {
	font-weight: bold;
}
.creditCite {
	margin-left: 1em;
}
.credit {
	margin-left: 4em;
}
.credit:first-child {
	margin-left: 0;
}
